
.cadastro-container {
  background-image: url("../../../assets/cadastro-usuario-bg.png");
  background-size: cover;
  background-position: center;
  height: auto;
  width: auto;
}

  .form-cadastro {
  margin-top: 180px;
  h1 {
    text-align: center;
    font-weight: 800;
    margin-bottom: 20px;
  }
  margin-left: 35%;
  margin-right: 35%;
  // background-color: red9

  .place-holder-text {
    text-align: center;
  }

  .d-grid {
    margin-top: 50px;
  }
  .retornar {
    padding-left: 20%;
    margin-top: 30px;
    margin-bottom: 100px;
    .comp-image {
      background-image: url(../../../assets/qmgqqq5s.png);
      background-size: cover;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      height: 120px;
      width: auto;
    }

    .retornar{
      padding-left: 20%;
      margin-top: 30px;
      margin-bottom: 100px;
      .comp-image{
        background-image: url('../../../Assets/qmgqqq5s.png');
        background-size: cover;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 120px;
        width: auto;
      }
      
    .btn-retornar {
      margin-top: 30px;
      font-size: 1.5rem;
      font-weight: bold;
      color: rgb(60, 56, 56);
      background-color: rgb(164, 194, 231);
      text-decoration: none;
    }
  }
}
