.auth-main {
  padding-top: 5%;
  border-radius: 15px;
  background-color: white;
  width: 100vh;
  height: 100vh;
  padding-bottom: 5%;
}
.col-left {
  background-color: rgb(20, 149, 255);
  height: 500px;
  text-align: center;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;

  .logo {
    width: 100%;
    border-radius: 12px;
  }
  .logo-ufba {
    width: 15%;
  }
  h2 {
    margin-top: 60px;
    text-decoration: solid;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 2rem;
  }
}

.col-right {
  background-color: rgb(240, 242, 246);
  text-align: center;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 500px;

  h2 {
    padding-top: 7%;
    color: rgb(70, 132, 195);
  }
  p {
    color: rgb(70, 132, 195);
  }
  .form-item {
    // margin-top: 10px;
    text-align: center;
  }
  .d-grid {
    margin-top: 30px;
  }

  .form-cont {
    margin-top: 20%;
    padding-left: 10%;
    padding-right: 10%;
    .form-item {
      margin-top: 20px;
      text-align: center;
    }
    .d-grid {
      margin-top: 30px;
    }
  }
}
