.INPROGRESS {
  background-color: #deeffd;
  color: #1890ff;
}

.DONE {
  background-color: #eaffdd;
  color: #077e0cd4;
}

.PAUSED {
  background-color: #fae1e2;
  color: #ff4034;
}

.TODO {
  background-color: #fae1e2;
  color: #f0e5e4;
}
