.container-home {
  // background-color: green;
  height: 100vh;
  margin-top: 20px;
  // background-color: #b6afaf;
  background-color: rgb(181, 11, 11);
}

.body-home {
  height: 100vh;
  // display: flex;
  flex-direction: column;
  // width: 100%;
  // height: 100%;
  background-color: #ffffff;
  // background-color: purple;
  // margin-top: 20px;
  // margin-right: 20px;
  // margin-bottom: 20px;
  // padding: 15px;
  overflow-y: scroll;
}

.sidebar {
  background-color: white;
  height: 100vh;
  padding-left: 10px;
}
