.progresso {
    background-color: #deeffd;
    color: #1890FF;
  }
  
  .successo {
    background-color: #eaffdd;
    color: #077E0CD4;
  }
  
  .pausado {
    background-color: #fae1e2;
    color: #FF4034;
  }