body {
  margin: 0;
  font-family: "Roboto Slab", "Oswald", "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: larger;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* font-family: 'Oswald', sans-serif;
font-family: 'Roboto Slab', serif; */
